.homepage {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid grey;
  display: table-cell;
  vertical-align: middle;
}

.logo-landsage{
  margin: auto auto;
  display: block;
}

.guest {
  border-radius: 10px;
  border: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem ;
  text-transform: uppercase;
  white-space: nowrap;
  background: dodgerblue;
  color: white;
}
.admin {
  border-radius: 10px;
  border: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem ;
  text-transform: uppercase;
  white-space: nowrap;
  background: dodgerblue;
  color: white;
}


input[type="text"],

input[type="submit"] {
margin-top: 10px;
cursor: pointer;
font-size: 15px;
background: #01d28e;
border: 1px solid #01d28e;
color: #fff;
padding: 10px 20px;
}

input[type="submit"]:hover {
background: #6cf0c2;
}

.button-container {
display: flex;
justify-content: center;
}

.login-form {
background-color: white;
padding: 2rem;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
display: flex;
}

.error {
color: red;
font-size: 12px;
}

.title {
font-size: 25px;
margin-bottom: 20px;
}

.input-container {
display: flex;
flex-direction: column;
gap: 8px;
margin: 10px;
}